<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>projetPets</display-name>
  <welcome-file-list>
    <welcome-file>ServletPrincipale</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletPrincipale</display-name>
    <servlet-name>ServletPrincipale</servlet-name>
    <servlet-class>com.octest.servlets.ServletPrincipale</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletPrincipale</servlet-name>
    <url-pattern>/ServletPrincipale</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Smyaccount</display-name>
    <servlet-name>Smyaccount</servlet-name>
    <servlet-class>com.octest.servlets.Smyaccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Smyaccount</servlet-name>
    <url-pattern>/Smyaccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletPromotion</display-name>
    <servlet-name>ServletPromotion</servlet-name>
    <servlet-class>com.octest.servlets.ServletPromotion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletPromotion</servlet-name>
    <url-pattern>/ServletPromotion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletBuy</display-name>
    <servlet-name>ServletBuy</servlet-name>
    <servlet-class>com.octest.servlets.ServletBuy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletBuy</servlet-name>
    <url-pattern>/ServletBuy</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.octest.servlets.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
</web-app>